### Indeed.ca Internship Company Name Analysis

#### Git push to git@github.com:jodiqiao/internship_analysis.git

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt #includes seaborn and wordcloud

In [3]:
df = pd.read_csv("sept_final_scrape.csv",usecols = ['job_title','company_name','location','summary','salary'])

In [4]:
df.head()

,job_title,company_name,location,summary,salary
0,"Summer Intern, Data Science & Engineering",HSBC Bank Canada,"Toronto, ON",This could be building and changing predictive...,Nothing_found
1,Student Intern,Skyworks,"Ottawa, ON",Has strong data analysis skill. Support PEs wi...,Nothing_found
2,Data Scientist Intern,Geotab,"Oakville, ON","As a Data Scientist Intern, you will work alon...",Nothing_found
3,"Data Engineer, Omnia AI - Co-op/Intern Winter ...",Deloitte,"Toronto, ON","Fascinated with data structures, data models a...",Nothing_found
4,Data Science Intern - Winter 2020 (Toronto),Intact,"Toronto, ON",We are currently looking for interns for our D...,Nothing_found

In [18]:
comp_series = pd.value_counts(df['company_name'].values, sort=False)
comp_df = pd.Series.to_frame(comp_series)
comp_df.columns = ['count']
comp_df['company'] = list(comp_df.index)
comp_df = comp_df.reset_index(drop=True)
comp_df.head()

   count                                          company
0      4                                           Intact
1      1                                         Cogiscan
2      1  Thunder Bay Regional Health Sciences Foundation
3      4                                 HSBC Bank Canada
4      1                                       StackAdapt

In [19]:
# make a wordcloud for job_title?
# https://www.datacamp.com/community/tutorials/wordcloud-python