### Indeed.ca Data Munging

In [1]:
import pandas as pd

In [4]:
# https://www.pythonprogramming.in/how-to-read-specific-columns-of-csv-file-using-pandas.html
# reading in specific columns by name
data = pd.read_csv("data+intern.csv", usecols = ['job_title','company_name','location','summary','salary'])

In [5]:
data.head()

,job_title,company_name,location,summary,salary
0,"Summer Intern, Data Science & Engineering",HSBC Bank Canada,"Toronto, ON",This could be building and changing predictive...,Nothing_found
1,Student Intern,Skyworks,"Ottawa, ON",Has strong data analysis skill. Support PEs wi...,Nothing_found
2,Dog Sitter,Rover,"Ottawa, ON",Rover dog sitters come from a variety of backg...,"$1,000 a week"
3,Care for Dogs,Rover,"Ottawa, ON",Rover dog sitters come from a variety of backg...,"$1,000 a week"
4,Dog Boarding,Rover,"Ottawa, ON",Rover dog sitters come from a variety of backg...,"$1,000 a week"

In [45]:
# http://www.datasciencemadesimple.com/get-unique-values-rows-dataframe-python-pandas/
# duplicated postings in raw scrape, keep only unique
df = data.drop_duplicates()
df.head()

,job_title,company_name,location,summary,salary
0,"Summer Intern, Data Science & Engineering",HSBC Bank Canada,"Toronto, ON",This could be building and changing predictive...,Nothing_found
1,Student Intern,Skyworks,"Ottawa, ON",Has strong data analysis skill. Support PEs wi...,Nothing_found
2,Dog Sitter,Rover,"Ottawa, ON",Rover dog sitters come from a variety of backg...,"$1,000 a week"
3,Care for Dogs,Rover,"Ottawa, ON",Rover dog sitters come from a variety of backg...,"$1,000 a week"
4,Dog Boarding,Rover,"Ottawa, ON",Rover dog sitters come from a variety of backg...,"$1,000 a week"

In [47]:
df.dtypes

job_title       object
company_name    object
location        object
summary         object
salary          object
dtype: object

In [46]:
# https://stackoverflow.com/questions/28885073/reindexing-after-pandas-drop-duplicates
# reindex using pandas builtin
df = df.reset_index(drop=True)
df.head()

,job_title,company_name,location,summary,salary
0,"Summer Intern, Data Science & Engineering",HSBC Bank Canada,"Toronto, ON",This could be building and changing predictive...,Nothing_found
1,Student Intern,Skyworks,"Ottawa, ON",Has strong data analysis skill. Support PEs wi...,Nothing_found
2,Dog Sitter,Rover,"Ottawa, ON",Rover dog sitters come from a variety of backg...,"$1,000 a week"
3,Care for Dogs,Rover,"Ottawa, ON",Rover dog sitters come from a variety of backg...,"$1,000 a week"
4,Dog Boarding,Rover,"Ottawa, ON",Rover dog sitters come from a variety of backg...,"$1,000 a week"