### Indeed.ca Internship Data Preliminary Analysis

#### Python Pandas, Matplotlib & Others

In [4]:
# Visualize job titles, company, location
# Summary NLP?

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt #includes seaborn and wordcloud
from PIL import Image #python imaging library
from os import path
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

In [16]:
df = pd.read_csv("sept_final_scrape.csv",usecols = ['job_title','company_name','location','summary','salary'])

In [23]:
df.head()

,job_title,company_name,location,summary,salary
0,"Summer Intern, Data Science & Engineering",HSBC Bank Canada,"Toronto, ON",This could be building and changing predictive...,Nothing_found
1,Student Intern,Skyworks,"Ottawa, ON",Has strong data analysis skill. Support PEs wi...,Nothing_found
2,Data Scientist Intern,Geotab,"Oakville, ON","As a Data Scientist Intern, you will work alon...",Nothing_found
3,"Data Engineer, Omnia AI - Co-op/Intern Winter ...",Deloitte,"Toronto, ON","Fascinated with data structures, data models a...",Nothing_found
4,Data Science Intern - Winter 2020 (Toronto),Intact,"Toronto, ON",We are currently looking for interns for our D...,Nothing_found

In [14]:
# make a wordcloud for job_title?
# https://www.datacamp.com/community/tutorials/wordcloud-python

In [37]:
# basic tallies
print("There are {} observations and {} features in this dataset. \n".format(df.shape[0],df.shape[1]))
print("There are {} companies in this dataset such as {}... \n".format(len(df.company_name.unique()),", ".join(df.company_name.unique()[0:5])))
print("There are {} locations hiring interns {}... \n".format(len(df.location.unique()),", ".join(df.location.unique()[0:5])))
print("There are {} listings with salary info, while for most nothing is found, some sample salary listings are {}... \n".format(len(df.salary.unique())-1,", ".join(df.salary.unique()[1:5])))

There are 976 observations and 5 features in this dataset.

There are 252 companies in this dataset such as HSBC Bank Canada, Skyworks, Geotab, Deloitte, Intact...

There are 74 locations hiring interns Toronto, ON, Ottawa, ON, Oakville, ON, Oshawa, ON, Winnipeg, MB...

There are 24 listings with salary info, while for most nothing is found, some sample salary listings are $40,000 a year, $39,027 a year, $18 an hour, $2,700 a month...

In [70]:
# interested in looking at location stats
location = pd.value_counts(df['location'].values, sort=False)
location = location.to_frame(name="count")
location = location.rename_axis('location')
location.head()

                     count
location
Red Deer, AB             5
Fort McMurray, AB        4
Ontario                  2
Legal, AB                1
Red Deer County, AB      2

In [ ]:
# bar graph not meaningful - obviously more jobs in bigger cities; x-axis ticks too tight; % -> pie or map vis