### Indeed.ca Internship Data Pre-processing

git@github.com:jodiqiao/internship_analysis.git

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv("sept_final_scrape.csv", usecols = ['job_title','company_name','summary'])

In [23]:
# summary text give insight to what qualifications are needed for what job?
# qualifications different between companies even if job title similar?
# company-specific preference of qualifications?

In [24]:
import nltk
#nltk.download()

In [25]:
sentence = df['summary'][0]

In [26]:
# test
tokens = nltk.word_tokenize(sentence)

In [7]:
# https://www.digitalocean.com/community/tutorials/how-to-work-with-language-data-in-python-3-using-the-natural-language-toolkit-nltk
# https://blog.algorithmia.com/introduction-natural-language-processing-nlp
# https://www.kaggle.com/itratrahman/nlp-tutorial-using-python

In [27]:
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split, KFold
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from matplotlib import pyplot as plt
# import seaborn as sns
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [9]:
# https://stackoverflow.com/questions/29523254/python-remove-stop-words-from-pandas-dataframe
# compare nltk v sklearn stopwords
# Import stopwords with nltk.

# from nltk.corpus import stopwords
# stop = stopwords.words('english')

In [10]:
# np.array(stop)
# print("Number of stopwords: ", len(stop))

In [28]:
from sklearn.feature_extraction import text
stop = text.ENGLISH_STOP_WORDS

In [29]:
np.array(stop)
print("Number of stopwords: ", len(stop))

# i like this one better

Number of stopwords:  318

In [30]:
# https://pythonhealthcare.org/2018/12/14/101-pre-processing-data-tokenization-stemming-and-removal-of-stop-words/
# tokenization, stemming, and removal of stop words
# i don't think i'm going to do sentiment analysis... but it's interesting
# convert to lower case

df['job_title'] = df['job_title'].str.lower()
df['company_name'] = df['company_name'].str.lower()
df['summary'] = df['summary'].str.lower()

In [31]:
import string

In [39]:
df

,job_title,company_name,summary
0,summer intern data science engineering,hsbc bank canada,building changing predictive analytical soluti...
1,student intern,skyworks,strong data analysis skill support pes custome...
2,data scientist intern,geotab,data scientist intern work alongside team fell...
3,data engineer omnia ai co op intern winter mul...,deloitte,fascinated data structures data models data pa...
4,data science intern winter toronto,intact,currently looking interns data lab r&d departm...
5,data insight specialist co op intern,general motors,data insight specialist assist warranty field ...
6,data analyst intern,upfeat media inc.,looking data analyst intern join rapidly expan...
7,intern data science,rs energy group,analyze interpret heterogeneous data troublesh...
8,instructional writer data science intern,geotab,geotab seeking intern immediately contribute o...
9,op intern photonics networking,ciena,autonomous photonic networks team responsible ...
10,applied research lab intern,ch four biogas inc.,perform sample analysis collect data currently...
11,business support intern data analytics,geotab,geotab actively seeking business support inter...
12,analyst strategic operational risk winter inte...,deloitte,advisory service line helps organizations tran...
13,associate consultant intern data services univ...,mastercard,associate consultant intern data services univ...
14,student intern customer data analyst,celestica,product data management global business servic...
15,research intern toronto waterloo,google,creating experiments prototyping implementatio...
16,data scientist internship opportunities,nestl√© canada inc.,data scientist intern explore data answering q...
17,op intern data analytics,ciena,data modeling data structures algorithms plus ...
18,analytics data science co op intern,td bank,office chief data officer experience data mana...
19,brand management summer intern,procter and gamble,additionally use historical data intern big da...
20,accountant intern,rdm disposal inc.,compile data compute charges prepare invoices ...
21,summer intern data science engineering,hsbc bank canada,building changing predictive analytical soluti...
22,student intern,skyworks,strong data analysis skill support pes custome...
23,intern opportunities students user experience,microsoft,knowledge methods gathering analyzing ux resea...
24,web front end developer intern,geotab,successful role individual passionate developm...
25,associate managing consultant intern data serv...,mastercard,experience using data analysis querying tools ...
26,python developer intern,geotab,work closely data engineering team develop dat...
27,genuine analyst intern,autodesk,analyze piracy trends usage data summarize dat...
28,developer intern,geotab,receive detailed data metrics millions vehicle...
29,software developer intern bs summer,google,experience data structures algorithms completi...
...,...,...,...
946,developer enterprise architecture,td bank,tell story unnoticed explain winning candidate...
947,software developer,nanalysis scientific corp,nanalysis global supplier portable nuclear mag...
948,enterprise enabling technology solutions devel...,td bank,tell story unnoticed explain winning candidate...
949,embedded test software engineer,garmin,embedded test software engineer cochrane ab co...
950,intern analyst total fund management month con...,ontario teachers' pension plan,opportunity january april total fund managemen...
951,automation monitoring support analyst innovati...,td bank,td description tell story unnoticed explain wi...
952,software testing intern stagiaire en test logi...,nuance,company overview pr√©sentation l entreprise che...
953,intern administrator,atira development society,exciting opportunity exists intern sysadmin it...
954,software developer intern d√©veloppeur logiciel...,nuance,company overview pr√©sentation l entreprise che...
955,intern analyst digital innovation,psp investments,intern analyst digital innovation ll expertise...
956,administrator unpaid intern,openconcept consulting inc.,scripting languages including bash php ruby py...
957,software tester sam,nokia,software tester sam summer op network manageme...
958,op intern blue planet analytics,ciena,work team build leading edge network managemen...
959,op intern blue planet network management,ciena,work team developers build leading edge client...
960,software test intern montreal r&d center hikvi...,hikvision usa inc.,working team solution specialists project mana...
961,software test intern montreal r&d center,hikvision canada inc.,working team solution specialists project mana...
962,op intern data analytics,ciena,aider l ing√©nieur e principal e en analyse don...
963,software test intern montreal r&d center hikvi...,hikvision,working team solution specialists project mana...
964,op intern photonic systems test engineer,ciena,l √©quipe tests et mesures est responsable test...
965,intern ecommerce java software developer,sap,collaborating developers testers team members ...
966,op intern data analytics,ciena,aider l ing√©nieur e principal e en analyse don...
967,user interface ui design intern stagiaire en c...,nuance,intern help designers create user experiences ...
968,software tester sam,nokia,engineering computer science student registere...
969,op intern data analytics,ciena,help senior engineers code analytics algorithm...
970,tester qa month,td bank,td testing quality assurance qa covers special...
971,user interface ui design intern stagiaire en c...,nuance,intern help designers create user welcomes int...
972,software tester sam,nokia,software tester sam summer op network manageme...
973,op intern data analytics,ciena,aider l ing√©nieur e principal e en analyse don...
974,tester qa month,td bank,explain winning td crave meaningful work embra...
975,intern ecommerce java software developer,sap,collaborating developers testers team intern p...

In [36]:
# tokenize, remove punctuation, remove stopwords

def pre_process(row):
    data_in_row = row['job_title']
    tokens = nltk.word_tokenize(data_in_row) # is a list of tokens
    #tokens = nltk.word_tokenize(row)
    # taken only words (not punctuation)
    no_punc_no_stop = []
    for i in range(len(tokens)):
        if "/" in tokens[i]:
            # https://stackoverflow.com/questions/9797357/dividing-a-string-at-various-punctuation-marks-using-split
            temp = tokens[i].replace('/',' ').replace('-',' ').split() # this split up web/front, coop/-intern; remove "/","-" keep both wrds
            for a in temp:
                if tokens[i] not in stop:
                    no_punc_no_stop.append(a)
        if tokens[i].isalpha() and tokens[i] != "r" and tokens[i] != "d" and tokens[i] not in stop: # capture text that isn't 'r' or '&' or 'd'
            no_punc_no_stop.append(tokens[i])
        elif tokens[i].isalpha() and tokens[i] == "r": # idk what other words could become just an r
            if tokens[i+1] == "&" and tokens[i+2] == "d": # r & d
                no_punc_no_stop.append("r&d")
                i += 2
            else:
                continue
        
    return " ".join(no_punc_no_stop)

In [38]:
# speciali note: run summary before job_title.. not too sure why but the output changes if you run job_title first

# df['job_title'] = df.apply(pre_process, axis=1)
# df['summary'] = df.apply(pre_process, axis=1)

In [40]:
df.to_csv('sept_final_preprocessed.csv') # save preprocessed data for now

In [23]:
# test stemming
# from nltk.stem import PorterStemmer
# stemming = PorterStemmer()
# b = df['summary'][957]
# Using a Python list comprehension method to apply to all words in m
# print ([stemming.stem(word) for word in b])
# output :
# ['softwar', 'tester', 'sam', 'summer', 'op', 'network', 'manag', 'busi',
# 'unit', 'nokia', 'ip', 'divis', 'recruit', 'highli', 'motiv', 'softwar', 'tester']
# no stemming, this is not great