### Indeed.ca Internship Summary

#### Git push to git@github.com:jodiqiao/internship_analysis.git

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [120]:
df = pd.read_csv("sept_final_scrape.csv",usecols = ['job_title','company_name','summary'])

In [91]:
df.head()

,job_title,company_name,summary
0,"Summer Intern, Data Science & Engineering",HSBC Bank Canada,This could be building and changing predictive...
1,Student Intern,Skyworks,Has strong data analysis skill. Support PEs wi...
2,Data Scientist Intern,Geotab,"As a Data Scientist Intern, you will work alon..."
3,"Data Engineer, Omnia AI - Co-op/Intern Winter ...",Deloitte,"Fascinated with data structures, data models a..."
4,Data Science Intern - Winter 2020 (Toronto),Intact,We are currently looking for interns for our D...

In [11]:
# summary text give insight to what qualifications are needed for what job?
# qualifications different between companies even if job title similar?
# company-specific preference of qualifications?

In [5]:
import nltk
#nltk.download()

In [13]:
sentence = df['summary'][0]

In [38]:
# test
tokens = nltk.word_tokenize(sentence)

In [ ]:
# https://www.digitalocean.com/community/tutorials/how-to-work-with-language-data-in-python-3-using-the-natural-language-toolkit-nltk
# https://blog.algorithmia.com/introduction-natural-language-processing-nlp
# https://www.kaggle.com/itratrahman/nlp-tutorial-using-python

In [6]:
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split, KFold
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from matplotlib import pyplot as plt
# import seaborn as sns
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [33]:
# https://stackoverflow.com/questions/29523254/python-remove-stop-words-from-pandas-dataframe
# compare nltk v sklearn stopwords
# Import stopwords with nltk.

# from nltk.corpus import stopwords
# stop = stopwords.words('english')

In [28]:
# np.array(stop)
# print("Number of stopwords: ", len(stop))

Number of stopwords:  179

In [132]:
from sklearn.feature_extraction import text
stop = text.ENGLISH_STOP_WORDS

In [107]:
np.array(stop)
print("Number of stopwords: ", len(stop))

# i like this one better

Number of stopwords:  318

In [121]:
# https://pythonhealthcare.org/2018/12/14/101-pre-processing-data-tokenization-stemming-and-removal-of-stop-words/
# tokenization, stemming, and removal of stop words
# i don't think i'm going to do sentiment analysis... but it's interesting
# convert to lower case

df['job_title'] = df['job_title'].str.lower()
df['company_name'] = df['company_name'].str.lower()
df['summary'] = df['summary'].str.lower()

In [16]:
df.head()

,job_title,company_name,summary
0,"summer intern, data science & engineering",hsbc bank canada,this could be building and changing predictive...
1,student intern,skyworks,has strong data analysis skill. support pes wi...
2,data scientist intern,geotab,"as a data scientist intern, you will work alon..."
3,"data engineer, omnia ai - co-op/intern winter ...",deloitte,"fascinated with data structures, data models a..."
4,data science intern - winter 2020 (toronto),intact,we are currently looking for interns for our d...

In [113]:
print(df['job_title'])

0              summer intern, data science & engineering
1                                         student intern
2                                  data scientist intern
3      data engineer, omnia ai - co-op/intern winter ...
4            data science intern - winter 2020 (toronto)
5                 data insight specialist (co-op/intern)
6                                    data analyst intern
7                                   intern, data science
8             instructional writer - data science intern
9                     co op/intern: photonics networking
10                           applied research lab intern
11           business support intern, data and analytics
12     analyst, strategic & operational risk - winter...
13     associate consultant intern, data & services (...
14                 student intern, customer data analyst
15           research intern, 2020 - toronto or waterloo
16          2020 data scientist internship opportunities
17                          co op/intern: data analytics
18                 analytics & data science co-op/intern
19                        brand management summer intern
20                                     accountant intern
21             summer intern, data science & engineering
22                                        student intern
23     intern opportunities for students: user experi...
24                        web/front end developer intern
25     associate managing consultant intern, data & s...
26                               python developer intern
27                                genuine analyst intern
28                            front-end developer intern
29            software developer intern, bs, summer 2020
                             ...
946            developer – enterprise architecture co-op
947                                   software developer
948    enterprise enabling technology solutions devel...
949                    embedded test software engineer 2
950    intern - analyst, total fund management (4 or ...
951    automation monitoring and support analyst, inn...
952    software testing intern – stagiaire en test lo...
953                       it intern system administrator
954    software developer intern - développeur logici...
955                   intern analyst, digital innovation
956       system administrator (full-time unpaid intern)
957                     software tester (5620 sam) co-op
958                  co op/intern: blue planet analytics
959         co op/intern: blue planet network management
960    software test intern - montreal r&d center - h...
961           software test intern - montreal r&d center
962                         co op/intern: data analytics
963    software test intern - montreal r&d center - h...
964          co op/intern:photonic systems test engineer
965           intern - ecommerce java software developer
966                         co op/intern: data analytics
967    user interface (ui) design intern – stagiaire ...
968                     software tester (5620 sam) co-op
969                         co op/intern: data analytics
970                            tester/qa co-op (8 month)
971    user interface (ui) design intern – stagiaire ...
972                     software tester (5620 sam) co-op
973                         co op/intern: data analytics
974                            tester/qa co-op (8 month)
975           intern - ecommerce java software developer
Name: job_title, Length: 976, dtype: object

In [65]:
import string

In [126]:
def identify_tokens(row):
    #data_in_row = row['job_title']
    #tokens = nltk.word_tokenize(data_in_row) # is a list of tokens
    tokens = nltk.word_tokenize(row)
    # taken only words (not punctuation)
    no_punc = []
    for i in range(len(tokens)):
        if "/" in tokens[i]:
            # https://stackoverflow.com/questions/9797357/dividing-a-string-at-various-punctuation-marks-using-split
            temp = tokens[i].replace('/',' ').replace('-',' ').split() # this split up web/front, coop/-intern; remove "/","-" keep both wrds
            for a in temp:
                no_punc.append(a)
        if tokens[i].isalpha() and tokens[i] != "r" and tokens[i] != "d": # capture text that isn't 'r' or '&' or 'd'
            no_punc.append(tokens[i])
        elif tokens[i].isalpha() and tokens[i] == "r": # idk what other words could become just an r
            if tokens[i+1] == "&" and tokens[i+2] == "d": # r & d
                no_punc.append("r&d")
                i += 2
            else:
                continue
    
    return no_punc

In [136]:
a = identify_tokens(df['job_title'][957])

In [141]:
a

['software', 'tester', 'sam']

In [139]:
b = identify_tokens(df['summary'][957])

In [140]:
b

['software',
 'tester',
 'sam',
 'summer',
 'co',
 'op',
 'the',
 'network',
 'management',
 'business',
 'unit',
 'in',
 'nokia',
 'ip',
 'division',
 'is',
 'recruiting',
 'highly',
 'motivated',
 'software',
 'testers']

In [133]:
# https://www.kaggle.com/itratrahman/nlp-tutorial-using-python
def stopwords(row):
    '''a function for removing the stopword
    '''
    # removing the stop words and lowercasing the selected words
    text = [word for word in row if word not in stop]
    # joining the list of words with space separator
    return text

In [138]:
stopwords(b)

['software',
 'tester',
 'sam',
 'summer',
 'op',
 'network',
 'management',
 'business',
 'unit',
 'nokia',
 'ip',
 'division',
 'recruiting',
 'highly',
 'motivated',
 'software',
 'testers']